.inputQuantity{
    width: 70px;
}

.inputCoin{
    width: 140px;
}

.divButton{
    display: flex;
    justify-content: center;
}

.divButton .inputButton{
    border: none;
    border-radius: 5px;
    background-color: #fff;
    padding: .5rem;
    margin-top: 2rem;
}

.divButton .inputButton:hover{
    background-color: #c3c3c3;
}